html{
    font-size: 67.2%;
    color: black;

}
body{
    font-size: 20px; /* 1rem=10px */
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    background-image: url(../IMG/cool-background.png);
    background-repeat: no-repeat;
    background-size: cover;

}
header{
    margin: 10rem auto 5rem 5rem;
    font-size: 1,6rem;
}
.nav-bg{
    border: 0.2rem solid black;
    border-radius: 5rem;
    width: 110rem;
    margin: auto;
    background-color: white;
    /* position: fixed; */
    
}
.navprincipal a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: x-large;
    border: 0.2rem solid black ;
    margin: 1rem 2rem;
    padding: 1rem 2rem;
    border-radius: 5rem;
    background-color: white;
}
.navprincipal a:hover{
    color: white;
    background-color: black;
}
.navprincipal{
    display: flex;
    justify-content: space-evenly;
}
main h2{
    border: 0.2rem solid black;
    margin: 5rem 1rem;
    background-color: white;
    text-align: center;
}
.contenedorabout{
    display: flex;
    border: 0.2rem solid black;
    width: 80rem;
    text-align: center;
    margin: 0 auto;
    height: 30rem;
    align-items: center;
    background-color: white;
}
.contenedorabout img{
    margin-left: 1rem;
    margin-right: 1rem;
}
.tituloskills, .tituloprojects, .titulocontacs{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
.cssimg, .javaimg{
    margin-left: 1.5rem;
}
.tabla{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}
.tabla p{
    text-align: center;
}
.barra{
    margin-left: 1rem;
}
.cssimg, .javaimg{
    height: 200px;
    width: 150px;
}
.htmlimg, .phytonimg{
    height: 200px;
    width: 200px;
}
.tablap {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
}

.bordep{
    margin: 0rem 1rem;
}
.pagfl img, .pagqr img{
height: 300px;
}

.bordep, .bordefl, .bordeqr{
    border: 0.2rem solid black;
    padding: 5rem 2rem;
    background-color: whitesmoke;
}
.bordefl, .bordeqr{
    border-radius: 5rem;
}
.tablap a{
    text-decoration: none; 
    color: black;
    text-align: center;
    font-weight: 700;
}

.bordefl:hover, .bordeqr:hover, .bordefl p:hover, .bordeqr p:hover{
    background-color: black;
    color: white;
}
.bordegmail, .bordegithub, .bordetwitter, .bordeinsta{
    background-color: black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.gmail, .instagram, .twitter, .github{
    text-align: center;
    padding-top: 13px;
}
.tablac{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    padding: 2rem;
    
}
.bordeprinc{
    border: 0.2rem solid black;
    background-color: whitesmoke;
    margin: auto 10px;
    
}
footer{
    font-size: small;
    text-align: center;
    margin-top: 2rem;
}

/* .principal{
    text-align: center;
} */

